body {
  padding-bottom: 50px;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* Header */

.navbar,
.navbar-header {
  min-height: 80px;
}

.navbar {
  background: white;
}

.navbar-default .navbar-toggle {
  margin-top: 23px;
}

.navbar-header>a {
  min-height: 80px;
  line-height: 50px;
}

.nav>li {
  margin-top: 15px;
}

@media (min-width: 768px) {
  #navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .nav>li>a {
    display: inline-block;
  }
}

@media (max-width: 400px) {
  .navbar,
  .navbar-header {
    min-height: 60px;
  }

  .navbar-header>a {
    min-height: 60px;
    line-height: 37.5px;
  }
}

/* General */

ul {
  list-style: none;
  font-size: 13px;
}

li span {
  background-color: green;
  padding: 10px;
  color: white;
  margin-bottom: 20px;
}

.border-box {
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 20px;
  max-width: 75%;
}

button.btn.btn-primary {
  margin-top: 20px;
  margin-bottom: 20px;
  float: right;
}

button.btn.btn-primary:hover,
button.btn.btn-primary:focus {
  background-color: #24CACA;
  border: 1px solid #24CACA;
}

.add-margin {
  margin-top: 20px;
}

@media (max-width: 767px) {
  .border-box {
    max-width: 100%;
  }
}

h4 {
  margin: 0;
  padding: 20px 10px;
  color: red;
}

.small h4, .large h4 {
  color: black;
}

.small span, .large span {
  color: gray;
}

.block {
  display: block;
  margin: 5px;
}

/* Grid */

.grid {
  max-width: 950px;
  background: #F8F8F8;
  padding-left: 20px;
  padding-top: 15px;
}

.grid-item {
  width: 48%;
  float: left;
  margin-bottom: 7px;
  margin-right: 7px;
  background: white;
  border: none;
  -moz-box-shadow: 1px 1px 1px 1px #ccc;
  -webkit-box-shadow: 1px 1px 1px 1px #ccc;
  box-shadow: 1px 1px 1px 1px #ccc;
}

.grid-item-main-panel>span, .grid-item-footer a {
  margin: 0;
  padding: 3px 10px;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  font-size: 13px;
}

.grid-item-footer>div {
  margin: 10px;
}

.grid-item-main-panel {
 margin-bottom: 10px;
}

.grid-item-footer {
  border-top: 1px solid #D6D6D6;
}

.highlight {
  color: darkorange;
}

.grid-sizer {
  width: 50%;
}

@media screen and (min-width: 1200px) {
  /* 3 columns for larger screens */
  .grid-sizer { width: 33.333%; }
}

@media (max-width: 550px) {
  /* 1 column for smaller devices */
  .grid-sizer { width: 100%; }
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* Forms */

.options {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}